!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %title= current_page.data.title || "Etienne Garnier"
    = stylesheet_link_tag "normalize", "all"
  %body{class: page_classes}
    = yield
    = javascript_include_tag "all"